<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="MAX_AXIS_X_mm" value="800"/>
    <add key="MAX_AXIS_Y_mm" value="800"/>
    <add key="MAX_AXIS_Z_mm" value="300"/>
  </appSettings>
</configuration>