<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--<add key="Calibration_mm" value="100"/>-->
    <add key="MAX_Y_AXIS_mm" value="80"/>
    <add key="MAX_X_AXIS_mm" value="80"/>
    <add key="MAX_Z_AXIS_mm" value="30"/>
  </appSettings>
</configuration>