<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Calibration_mm" value="100"/>
    <add key="Max_Height_mm" value="100"/>
    <add key="Max_Width_mm" value="100"/>
  </appSettings>
</configuration>